
body.introduction {

	background-color:  #d1e0e0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color:  #990000;
}

body {
    margin-left: 40px; 
    margin-right: 40px; 
    padding: 0; 
}

div.container {
	background-color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #ffffff;
	margin: auto;
	padding: 20px;
}

 h1 {
	
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #e40808;
	margin: auto;
	padding: 20px;
}


 a {
    margin-right: 10px; 
    margin-left: 10px;
    color: #e40808;
    font-weight: bold; 
}

hr {
    height: 3px; 
    background-color: #ffb3b3; 
    border: none; 
}

li {
    margin: 5px 0;
}


td, tr {
	margin: 20px;
	padding: 20px;
}